dezoomcamp-docker/pipeline/homework-2-kestra-flows-yaml/postgres_green_taxi_2020_all_months.yaml
id: postgres_green_taxi_2020_all_months
namespace: zoomcamp
description: |
  ETL for Green Taxi data for all CSV files in year 2020
  Source: https://github.com/DataTalksClub/nyc-tlc-data/releases

variables:
  taxi: "green"
  year: "2020"
  staging_table: "public.green_tripdata_staging"
  table: "public.green_tripdata"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      taxi: "{{render(vars.taxi)}}"
      year: "{{render(vars.year)}}"

  # Create tables ONCE
  - id: green_create_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
          unique_row_id          text,
          filename               text,
          VendorID               text,
          lpep_pickup_datetime   timestamp,
          lpep_dropoff_datetime  timestamp,
          store_and_fwd_flag     text,
          RatecodeID             text,
          PULocationID           text,
          DOLocationID           text,
          passenger_count        integer,
          trip_distance          double precision,
          fare_amount            double precision,
          extra                  double precision,
          mta_tax                double precision,
          tip_amount             double precision,
          tolls_amount           double precision,
          ehail_fee              double precision,
          improvement_surcharge  double precision,
          total_amount           double precision,
          payment_type           integer,
          trip_type              integer,
          congestion_surcharge   double precision
      );

  - id: green_create_staging_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
          unique_row_id          text,
          filename               text,
          VendorID               text,
          lpep_pickup_datetime   timestamp,
          lpep_dropoff_datetime  timestamp,
          store_and_fwd_flag     text,
          RatecodeID             text,
          PULocationID           text,
          DOLocationID           text,
          passenger_count        integer,
          trip_distance          double precision,
          fare_amount            double precision,
          extra                  double precision,
          mta_tax                double precision,
          tip_amount             double precision,
          tolls_amount           double precision,
          ehail_fee              double precision,
          improvement_surcharge  double precision,
          total_amount           double precision,
          payment_type           integer,
          trip_type              integer,
          congestion_surcharge   double precision
      );

  # Loop through all months in 2020
  - id: for_each_month_2020
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01","02","03","04","05","06","07","08","09","10","11","12"]
    tasks:
      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - >
            FILE="{{render(vars.taxi)}}_tripdata_{{render(vars.year)}}-{{taskrun.value}}.csv";
            wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{render(vars.taxi)}}/${FILE}.gz
            | gunzip > ${FILE}

      - id: truncate_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: copy_in_to_staging
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        # ForEach-scoped outputs: outputs.extract[taskrun.value]
        from: "{{ outputs.extract[taskrun.value].outputFiles[render(vars.taxi) ~ '_tripdata_' ~ render(vars.year) ~ '-' ~ taskrun.value ~ '.csv'] }}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns: [
          VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,
          PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,
          tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,
          trip_type,congestion_surcharge
        ]

      - id: add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET
            unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(lpep_pickup_datetime AS text), '') ||
              COALESCE(CAST(lpep_dropoff_datetime AS text), '') ||
              COALESCE(PULocationID, '') ||
              COALESCE(DOLocationID, '') ||
              COALESCE(CAST(fare_amount AS text), '') ||
              COALESCE(CAST(trip_distance AS text), '')
            ),
            filename = '{{render(vars.taxi)}}_tripdata_{{render(vars.year)}}-{{taskrun.value}}.csv';

      - id: merge_data
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (
              unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime,
              store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count,
              trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
              improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge
            )
            VALUES (
              S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime,
              S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count,
              S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
              S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge
            );

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: This will remove output files. If you'd like to explore Kestra outputs, disable it.

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
      username: root
      password: root
